/* Backgrounds, shadows, borders */

.aive-panel {
  background: #e70707;
  backdrop-filter: blur(6px);
  box-shadow: 0 .5rem 1.5rem #000000;
}

.aive-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

.aive-btn {
  background: #000000;
}

.aive-toggle {
  background: #000000;
  box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.35);
}

/* Slider thumbs backgrounds */
.aive-row input[type="range"]::-webkit-slider-thumb {
  background: #d1d0d094;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.35);
}
.aive-row input[type="range"]::-moz-range-thumb {
  background: #d1d0d094;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.35);
}
