/* Font family and text colors */

.aive-root {
  color: #eaeaea;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

.aive-row:hover output {
    color: #fbff00;
}

.aive-btn { color: #f5f5f5; }
.aive-toggle { color: #fff; }
.aive-row label { color: #cfcfcf; }
.aive-row output { color: #b5b5b5; }
.aive-mirror-letter { color: #d5d7dc; }
